body {
	background: none !important;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
	position: relative;
}
main:before {
	content: '';
	display: block;
	background-image: url(http://wiki.teamfortress.com/w/images/thumb/6/68/Charging.png/800px-Charging.png);
	background-repeat: no-repeat !important;
	background-size: 66%;
	position: absolute;
	overflow: visible;
	top: 0;
	background-position: top;
	height: 100%;
	width: 50%;
}


